.Box{
    width:400px;
    height: 150px;
    border: 5px solid rgb(189, 67, 67);
    overflow-y:scroll;
   

     

}
.box2{

    border: 1px solid greenyellow;
    visibility: hidden;
}